{
  "widgets": [
    {
      "type": "metric",
      "x": 0,
      "y": 0,
      "width": 12,
      "height": 6,
      "properties": {
        "metrics": [
          ["ClickEvents", "NumEvents"],
          ["ClickEvents", "NumUsers"]
        ],
        "period": 180,
        "stat": "Average",
        "region": "${region}",
        "title": "Click Events",
        "legend": {
          "position": "right"
        }
      }
    }
  ]
}