name: deploy-querier
on:
  push:
    branches: [main]
    tags: ["v*.*.*"]
    paths:
      - 'querier/**'
      - '.github/workflows/deploy-querier.yml'

env:
  STAGE: prod
  REGION: ap-southeast-2

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Serverless
        run: |
          npm i serverless -g
      - name: Deploy
        working-directory: ./querier
        run: |
          npm i
          sls deploy --region=${{ env.REGION }} --stage=${{ env.STAGE }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
